/* Ui */
header {
  max-height: 4em;
  background-color: $black;
}

header > hgroup {
  h1 {
    font-weight: 700;
    font-size: 18px;
    color: $accent;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  a {
    color: $white;
    @include transit(all, .2s, ease);

    &:hover {
      @include textGlow(0, 0, 3px, $white-glow);
      @include transit(all, .2s, ease);
    }
  }
}

header > nav {
  ul li {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    a {
      color: $white;
      @include transit(all, .2s, ease);
      &:hover {
        @include textGlow(0, 0, 3px, $white-glow);
        @include transit(all, .2s, ease);
      }
    }
  }
}

header hgroup h1, header nav ul {
  font-family: $sans;
}

header a.menu {
  display: none;
}

/* Layout */
header {
  @include clearfix;

  padding: 1.3em 1.3em 0 1.3em;
  z-index: 5000;

  display: grid;
  place-items: center;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-template-areas:
    "headerTitle headerNav";
}

header > hgroup {
  grid-area: headerTitle;

  justify-self: start;
}

header > nav {
  grid-area: headerNav;
  justify-self: end;

  @include clearfix;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}

@media only screen and (max-width : $tablet-width) {
  header {
    max-height: 10em;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "headerTitle"
      "headerNav";
  }

  header > hgroup {
    justify-self: center;
  }

  header > nav {
    justify-self: center;
  }
}

@media only screen and (max-width : $mobile-width) {
  header {
    grid-template-rows: 1fr 5fr;
  }

  header > nav {
    ul {
      flex-direction: column;
      align-content: center;
      li {
        margin-top: 0.5em;
      }
    }
  }
}
