---
---

@charset "UTF-8";
@import "base";

// Remove the definition below for a pixel-based layout
$total-width: 100%;

/* UI */
.card {
  background-color: $white;
  border-radius: 4px;
  padding: 1.5em;
  box-shadow: 1px 1px 5px 0px $gray-light;
  @include transit(box-shadow, 0.2s, ease-in-out);

  &:hover {
    box-shadow: 5px 5px 5px 0px $gray-light;
    @include transit(box-shadow, 0.2s, ease-in-out);
  }
}

body {
  article.post {
    header {
      text-align: center;
      margin-bottom: 2em;
      h1 {
        color: $black;
        font-size: $headerFS;
        font-family: $serif;
      }

      time {
        color: $gray-medium;
        font-size: $importantFS;
      }

      summary {
        color: $black;
        font-size: $summaryFS;
      }
    }
    section.content {
      color: $black;

      p {
        font-family: $sans;
        font-weight: 500;
        font-size: $textFS;
        line-height: 1.5em;
      }

      h2, h3, h4, h5, h6 {
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        font-family: $serif;
        font-size: $subheaderFS;
      }
    }
  }
}

/* Layout */

.card {
  * {
    display: block;
  }

  & > * {
    margin-bottom: 0.3em;
  }
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 5fr 3fr 10fr 5fr;
  grid-template-rows: 1fr auto auto 3fr;
  $gap: 1em;
  grid-row-gap: $gap;
  grid-column-gap: $gap;
  grid-template-areas:
    "topHeader topHeader topHeader   topHeader"
    "featImage featImage featImage   featImage"
    ".         aside     mainContent .        "
    "footer    footer    footer      footer   ";

  header {
    grid-area: topHeader;
  }

  .featuredImage {
    margin-top: -$gap;
    grid-area: featImage;

    * {
      width: 100%;
      max-height: 400px;
    }
  }

  footer {
    grid-area: footer;
  }

  aside {
    grid-area: aside;
  }

  main {
    grid-area: mainContent;
  }
}

@media only screen and (max-width : $tablet-width) {
  body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto auto auto 3fr;
    grid-template-areas:
      "topHeader topHeader topHeader"
      "featImage featImage featImage"
      ".         mainContent ."
      ".         aside     ."
      "footer    footer    footer";
  }
}
