<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <body>
    {% include header.html %}

    <aside class="presentation">
      {% include presentation-card.html %}
    </aside>
    <main>
      {% for post in site.posts %}
      <a href="{{ site.url }}{{ post.url }}">
        <article class="card">
          <h1> {{ post.title }} </h1>
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%B %d, %Y" }}
          </time>
          <summary>
            {% if post.description %}
              {{ post.description  | strip_html | strip_newlines | truncate: 120 }}
            {% else %}
              {{ post.content | strip_html | strip_newlines | truncate: 120 }}
            {% endif %}
          </summary>
        </article>
      </a>
      {% endfor %}
    </main>

    {% include footer.html %}
  </body>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/home.css">
</html>
