<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <body>
    {% include header.html %}

    {% if page.image.feature %}
      {% if page.image.feature contains 'https://' or page.image.feature contains 'http://' %}
      <figure class="featuredImage">
        <source srcset="{{ page.image.feature }}">
        <img src="{{ page.image.feature }}" alt="{{ page.title }}">
          alt="{% if page.image.alt %}{{ page.image.alt }}{% else %}{{ page.title }}{% endif %}">
      </figure>
      {% else %}
      <figure class="featuredImage">
        <source srcset="{{ site.url }}/images/{{ page.image.feature }}">
        <img src="{{ site.url }}/images/{{ page.image.feature }}"
          alt="{% if page.image.alt %}{{ page.image.alt }}{% else %}{{ page.title }}{% endif %}">
      </figure>
      {% endif %}
    {% else %}
      <figure class="featuredImage">
        <source srcset="{{ site.url }}/images/soft-trees.jpg">
        <img src="{{ site.url }}/images/soft-trees.jpg"
          alt="{% if page.image.alt %}{{ page.image.alt }}{% else %}{{ page.title }}{% endif %}">
      </figure>
    {% endif %}

    <aside class="presentation">
      {% include presentation-card.html %}
    </aside>

    <main>
      <article class="post">
        <header class="post-header">
          <hgroup>
            <h1>{{ page.title }}</h1>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ page.date | date: "%B %d, %Y" }}
            </time>
            <summary>{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</summary>
          </hgroup>
        </header>
        <br />
        <section class="content">
          {{ page.content }}
        </section>
      </article>
    </main>

    {% include footer.html %}
  </body>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/post.css">
</html>
